<!--
    Name: Jawad Mashuque
    File: index.html
    Course: WEB322 Assignment #1
    Created: 14-Jun-2020
    Modified: 22-Jun-2020
-->

<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>CANADA BANK</title>
<style>
	body {
		background-color: #ffffff;
	}
	div {
		margin: 0% 35% 0% 35%;
		padding: 3px;
        border-radius: 6px;
        background-color: #770000;
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    }
    header, footer, article {
		background-color: #ffcccccc;
		margin: 4px;
        padding: 4px;
        text-align: center;
    }
    footer {
        font-size: small;
        font-weight: bold;
        color: #770000;
    }
    h1 {
        color: #770000;
    }
    button, input {
        margin: 4px;
        padding: 6px;
    }
    a {
        text-decoration: none;
        color: #ffffff;
    }
    div.loggedIn {
		position:absolute;
        float:right;
		right: 2px;
		top: 8px;
		color: white;
        background-color: #770000;
        font-size: medium;
	}
    .loggedIn .logoutHover {
        display: none;
    }
    .loggedIn:hover .logoutHover {
        display: block;
    }
    .loggedIn:hover .userHover {
        display: none;
    }


</style>
</head>

<body>
    {{{body}}}
</body>
</html>
